%link(rel="stylesheet" href="report.css")

%h1 Spam Dashboard

- @user_spam_reports.each do |spam|
  %table
    %tr
      %td
        %button Resolve
        %button Block
    %tr
      %th ID
      %th Type
      %th Message
      %th State
    %tr
      %td= spam.spam_report_id
      %td= spam.payload_report_type
      %td= spam.payload_message
      %td= spam.state
    %br
